head
    block title
      title No page found.
    link(rel='stylesheet' type='text/css' href='/main.css')
    block stylesheets
    block scripts
    link(rel='icon' type='image/png' href='/assets/pokemon/favicon.png')