extends resources/page.pug

block title
  title 404 Error

block content
  p I couldn't find what you were looking for.
  p= "It seems to me like you asked for " + request + ". There doesn't seem to be a page like that here."