extends resources/page.pug

block title
  title Arthur "the Aardvark" Goldman

block content
  p This is the personal website of Arthur Goldman, a current junior at Southwest High School. The source for this site can be found at #[a(href='https://github.com/annydalch/nodewebserver') https://github.com/annydalch/nodewebserver].