extends resources/page.pug

block title
  title Arthur Goldman's Curriculum Vitae

block content
  h1(id='title') Curriculum Vitae
  h2(id='name') Arthur Goldman
  p(class='contactinfo') #[a(href="mailto:arthur@goldman-tribe.org") arthur@goldman-tribe.org]
  p(class='contactinfo') Contact me for postal address and phone number
  h3(class='sectionhead') Education
  div(class='bodytext')
    p 2014 - present Southwest High School
  h3(class='sectionhead') Employment
  div(class='bodytext')
    p December 2016 - present Math Peer Tutor, Southwest High School
    p June - August 2016 Research Assistant, Adventium Labs
    p June - August 2015 Summer Camp Volunteer, Bakken Museum
    p September 2014 - May 2015 Hebrew School Madrich, Shir Tikvah Synagogue
    p June - August 2014 Summer Camp Volunteer, Southwest Super Summer Program
  h3(class='sectionhead') Activities
  div(class='bodytext')
    p Junior Varsity and Varsity mathlete for the Southwest High School Math Team
    p Junior Vice President, Southwest GSA (Gender Sexuality Alliance)
    p Ametur web and games developer; creator, designer, and systems administrator of this fine website
    p Competitive #[i Magic: the Gathering] player
    p 9-year villager at Concordia Language Villages' Sj&ouml;lunden Swedish immersion summer camp; near-fluent Swedish speaker